Scripts/Commands/testest.py
Scripts/Commands/test.py
.vscode/
tempCodeRunnerFile.py
Scripts/Interface/__pycache__/
Scripts/Commands/__pycache__/
Scripts/Gaphes/test.py
Scripts/Gaphes/__pycache__/
Scripts/__pycache__/
*/__pycache__/